/* Blog Section */
#blog-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(250, 250, 250, 1);
    color: rgba(21, 21, 21, 1);
}
#blog-date, #blog-head, #blog-sub, #blog-img,#blog-post{
    padding-left: clamp(1rem, 5vw, 3rem);
    padding-right: clamp(1rem, 5vw, 3rem);
}
#blog-date{
    font-size: clamp(0.8rem, 1.2vw, 1.8rem);
    padding-top: 5em;
}
#blog-head{
    font-size: clamp(30px, 2vw ,40px);
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
#blog-sub{
    padding-left: clamp(1rem, 5vw, 3rem);
    padding-bottom: 1.5em;
}
#blog-img{
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    padding-top: 2vw;
    padding-bottom: 3vw;
}
.blog-inside-head{
    font-size: clamp(1rem, 4vw, 1.8rem);
    font-weight: 700;
    padding-bottom: 0.8em;
}
.blog-inside-para{
    line-height: 1.5;
    font-size: clamp(0.95rem, 2vw, 1.15rem);
    padding-bottom: 1.5em;
}



/* Post Section */
#post-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 20px 10px; 
    background-color: rgba(250, 250, 250, 1);
}
#post-section h2{
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 1.8rem);
    padding-bottom: 0.8em;
}




@media (min-width: 768px) and (max-width: 1023px){
    #blog-date, #blog-head, #blog-sub, #blog-post{
        padding-left: clamp(3.5rem, 25vw, 5rem);
        padding-right: clamp(3.5rem, 25vw, 5rem);
    }
    #blog-head{
        padding-top: 0.65em;
        padding-bottom: 0.65em;
    }
    #blog-img{
        height: 50vw;
        object-fit: cover;
    }
    #post-section{
        padding: clamp(1.8rem, 3vw, 2.5rem) clamp(1.5rem, 3.2vw, 2.1rem) clamp(1.3rem, 2.5vw, 2rem);
    }
}
@media (min-width: 1024px){
    #blog-date, #blog-head, #blog-sub, #blog-post{
        padding-left: clamp(4.5rem, 35vw, 6rem);
        padding-right: clamp(4.5rem, 35vw, 6rem);
    }
    #blog-img{
        height: 42vw;
        object-fit: cover;
    }
    #blog-head{
        padding-top: 0.65em;
        padding-bottom: 0.65em;
    }
    #post-section{
        padding: clamp(2.3rem, 2.7vw, 3rem) clamp(1.8rem, 3.2vw, 2.5rem) clamp(2rem, 2.2vw, 3rem);
    }
}