/* Header */
header{
    background-color: rgba(255, 255, 255, 1);
    margin: clamp(0.6rem, 1vw, 1.8rem) clamp(1.5rem, 3vw, 4rem) clamp(0.6rem, 1vw, 1.8rem) clamp(1rem, 1.5vw, 2.4rem);
}
#head-logo-div{
    justify-content: flex-start;
    gap: 0.5vw;
}
#head-logo{
    width: clamp(1rem, 2.5vw, 2.5rem);
}
#head-heading{
    font-size: clamp(1rem, 2vw, 2.5rem);
    color: rgba(14, 14, 14, 1);
}
#head-nav-list{
    list-style: none;
    gap: 2vw;
    font-size: clamp(0.8rem, 1.3vw, 2rem);
    color: rgba(9, 9, 9, 1);
}